@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('react-toastify/dist/ReactToastify.css');

body, html {
  @apply bg-gray-900;
}

::-webkit-scrollbar {
  @apply w-7;
}

::-webkit-scrollbar-thumb {
  border: 8px solid transparent;
  background-clip: padding-box;
  @apply rounded-xl;
  @apply bg-gray-800;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
